/*
    ********************
    COLOR VARIABLES
    ********************
*/

// * ==> colors names are relative
$cyan: #1D8FBC; //Cyan Cornflower Blue* used for the message box
$oxford: #334d6e; //Oxford Blue* used for the alert strip
$cerulean: #006BA0; //Cerulean Blue* used as background color for the landing page
$darkCerulean: #004b75; //Dark Cerulean Blue* used as background color for the footer
$orange: #FF862F; //Princeton Orange* used for buttons and links
$textColor: #FFFFFF; //Used for the texts
$lightblue: #69a6ee; //Used for border color

/* 
    ********************
    BREAKOPOINTS
    ******************** 
*/

// @media (max-width: $breakpoint-tablet) { }
$breakpoint-desktop: 75em;
$breakpoint-laptop: 61.875em;
$breakpoint-tablet: 49.5em;
$breakpoint-mobile: 28.25em;
