.footer {
    
    &__strip {
        width: 100%;
        padding: 0.625rem;
        background-color: $cyan;
        align-self: flex-end;
    }

    &__motto {
        width: 48%;
        position: relative;
        padding: 2.5rem;
        text-align: center;
        border: 0.1875em solid $lightblue;
        border-radius: 0.5em;
        background-color: $cyan;
        top: 1.25rem;

        &__text {
            font-size: 1.125rem;
            font-style: italic;
            line-height: 1.75rem;
            color: $textColor;
        }

        &__rightq,
        &__leftq {
            position: absolute;
            color: $textColor;
            font-size: 1.25rem;
            
        }

        &__leftq {
            top: 1.25rem;
            left: 1.25rem;
        }

        &__rightq {
            bottom: 1.25rem;
            right: 1.25rem;
        }
    }
}